
{% extends "layout.html" %}
    {% block content %}
        {% for post in posts.items %}
            <div class="post-preview">
                <a href="{{ url_for('posts.post', post_id=post.id) }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.content }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    on {{ post.date_posted.strftime('%Y-%m-%d') }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if posts.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
    {% endblock content %}
