{% extends "layout_home.html" %}

    {% block content %}

        <section class="s-pageheader s-pageheader--home">

            <header class="header">
                <div class="header__content row">
                    <div class="header__logo">
                        <a class="logo" href="{{url_for('main.home')}}">
                            <img src="static/images/logo.svg" alt="Homepage">
                        </a>
                    </div> <!-- end header__logo -->

                    <ul class="header__social">
                        <li>
                            <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </li>
                    </ul> <!-- end header__social -->

                    <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                    <nav class="header__nav-wrap">

                        <h2 class="header__nav-heading h6">Site Navigation</h2>

                        <ul class="header__nav">
                            {% if current_user.is_authenticated %}
                                <li class="current"><a href="{{ url_for('posts.new_post')}}" title="">New Post</a></li>
                                <li><a href="{{ url_for('posts.upload_images')}}">Images</a></li>
                                <li><a href="{{ url_for('users.account')}}">Account</a></li>
                                <li><a href="{{ url_for('users.logout')}}">Logout</a></li>
                            {% else %}
                                <li class="current"><a href="{{ url_for('main.home')}}" >Home</a></li>
                                <li><a href="/#" title="">Contact</a></li>
                                <li><a href="{{ url_for('users.admin') }}">LoginAdmin</a></li>
                                <li><a href="/#" title="">Home</a></li>
                            {% endif %}
                        </ul> <!-- end header__nav -->
                        <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
                    </nav> <!-- end header__nav-wrap -->
                </div> <!-- header-content -->
            </header> <!-- header -->

            <div class="pageheader-content row">
                <div class="col-full">

                <div class="featured">

                    <div class="featured__column featured__column--big">
                        <div class="entry" style="background-image:url('static/post_pics/0a6969afbbef74f4.jpg');">

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">Music</a></span>

                                <h1><a href="#0" title="">What Your Music Preference Says About You and Your Personality.</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="static/images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 29, 2017</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                    </div> <!-- end featured__big -->

                    <div class="featured__column featured__column--small">

                        <div class="entry" style="background-image:url('static/post_pics/0a6969afbbef74f4.jpg');">

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">Management</a></span>

                                <h1><a href="#0" title="">The Pomodoro Technique Really Works.</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="static/images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 27, 2017</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                        <div class="entry" style="background-image:url('static/post_pics/0d0ec6ce27bfe9fa.png');">

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">LifeStyle</a></span>

                                <h1><a href="#0" title="">Throwback To The Good Old Days.</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="static/images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 21, 2017</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__small -->
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
            </div> <!-- end pageheader-content row -->

        </section> <!-- end s-pageheader -->

        {% for post in posts.items %}
            <div class="post-preview">
                <a href="{{ url_for('posts.post', post_id=post.id) }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.description }}</h3>
                    <img src="{{ url_for('static', filename='post_pics/' + post.image_file) }}" class="img-fluid">
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    on {{ post.date_posted.strftime('%Y-%m-%d') }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if posts.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
    {% endblock content %}
