<!DOCTYPE html>
<html>
    <head>
        <!--- basic page needs
        ================================================== -->
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">


        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
        ================================================== -->

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">


        <!-- script
        ================================================== -->

        <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
        <script src="{{ url_for('static', filename='js/pace.min.js') }}"></script>

        <!-- favicons
        ================================================== -->
        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        {% if title %}
            <title>Flask Blog - {{ title }} - {{home_page}}</title>
        {% else %}
            <title>Flask Blog</title>
        {% endif %}
    </head>

    <body id="top">

        <!-- pageheader
        ================================================== -->

        {% if home_page and posts.page==1 %}
            <section class="s-pageheader s-pageheader--home">
        {%else%}
            <section class="s-pageheader s-pageheader">
        {%endif%}


            <header class="header">
            <div class="header__content row">
                <div class="header__logo">
                    <a class="logo" href="{{url_for('main.home')}}">

                        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        {% if current_user.is_authenticated %}
                            <li class="current"><a href="{{ url_for('posts.new_post')}}" title="">New Post</a></li>
                            <li><a href="{{ url_for('posts.upload_images')}}">Images</a></li>
                            <li><a href="{{ url_for('users.account')}}">Account</a></li>
                            <li><a href="{{ url_for('users.logout')}}">Logout</a></li>
                        {% else %}
                            <li class="current"><a href="{{ url_for('main.home')}}" >Home</a></li>
                            <li><a href="/#" title="">Contact</a></li>
                            <li><a href="{{ url_for('users.admin') }}">LoginAdmin</a></li>
                            <li><a href="/#" title="">Home</a></li>
                        {% endif %}
                    </ul> <!-- end header__nav -->
                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
                </nav> <!-- end header__nav-wrap -->
            </div> <!-- header-content -->
            </header> <!-- header -->

            {% block home_baners%}
            {% endblock %}

        </section> <!-- end s-pageheader -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                  {{ message }}
              {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}


        <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-two md-four mob-full s-footer__sitelinks">

                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="{{ url_for('main.home')}}">Home</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->


                <div class="col-two md-four mob-full s-footer__social">

                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">

                    <h4>Our Newsletter</h4>

                    <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">

                            <input type="submit" name="subscribe" value="Send">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Oleg Yaruchyk 2022</span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


        <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </body>
</html>
