<!DOCTYPE html>
<html>
    <head>
        <!--- basic page needs
        ================================================== -->
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- favicons
        ================================================== -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <!-- CSS
        ================================================== -->

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">


        <!-- script
        ================================================== -->

        <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
        <script src="{{ url_for('static', filename='js/pace.min.js') }}"></script>



        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Yaruchyk Blog</title>
        {% endif %}
    </head>

    <body id="top">

        <!-- pageheader
        ================================================== -->

        {% if home_page and posts.page==1 %}
            <section class="s-pageheader s-pageheader--home">
        {%else%}
            <section class="s-pageheader s-pageheader">
        {%endif%}


            <header class="header">
            <div class="header__content row">
                <div class="header__logo">
                    <a class="logo" href="{{url_for('main.home')}}">

                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

<!--                <ul class="header__social">-->
<!--                    <li>-->
<!--                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>-->
<!--                    </li>-->
<!--                </ul> &lt;!&ndash; end header__social &ndash;&gt;-->

                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        {% if current_user.is_authenticated %}
                            <li class="current"><a href="{{ url_for('posts.new_post')}}" title="">New Post</a></li>
                            <li><a href="{{ url_for('posts.upload_images')}}">Images</a></li>
                            <li><a href="{{ url_for('users.account')}}">Account</a></li>
                            <li><a href="{{ url_for('users.logout')}}">Logout</a></li>
                        {% else %}
                            <li class="current"><a href="{{ url_for('main.home')}}" >Home</a></li>
                        {% endif %}
                    </ul> <!-- end header__nav -->
                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
                </nav> <!-- end header__nav-wrap -->
            </div> <!-- header-content -->
            </header> <!-- header -->

            {% block home_baners%}
            {% endblock %}

        </section> <!-- end s-pageheader -->

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">
            <div class="s-content__header col-full">
                  {{ message }}
            </div>
            <article>
                         </section>
              {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}


    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-two md-two mob-full s-footer__sitelinks">

                    <h4>Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="{{ url_for('main.home')}}">Home</a></li>
                    </ul>
                    <ul class="s-footer__linklist">
<!--                        <li><a href="#0">Facebook</a></li>-->
<!--                        <li><a href="#0">Instagram</a></li>-->
                        <li><a href="https://www.linkedin.com/in/olegyaruchyk/">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

            </div>
        </div> <!-- end s-footer__main -->

            <div class="s-footer__bottom">
                <div class="row">
                    <div class="col-full">
                        <div class="s-footer__copyright">
                            <span id="current-year">© Copyright 2025</span>
                        </div>

                        <div class="go-top">
                            <a class="smoothscroll" title="Back to Top" href="#top"></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end s-footer__bottom -->

        </footer> <!-- end s-footer -->
        <script>
            // Get the current year and update the text content of the element
            const currentYear = new Date().getFullYear();
            document.getElementById('current-year').textContent = `© Copyright ${currentYear}`;
        </script>
        <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </body>
</html>
