<!DOCTYPE html>
<html>
    <head>
        <!--- basic page needs
        ================================================== -->
        <meta charset="utf-8">
        <title>Philosophy</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">


        <!-- script
        ================================================== -->

        <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
        <script src="{{ url_for('static', filename='js/pace.min.js') }}"></script>

        <!-- favicons
        ================================================== -->
        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        {% if title %}
            <title>Flask Blog - {{ title }}</title>
        {% else %}
            <title>Flask Blog</title>
        {% endif %}
    </head>

    <body id="top">

        <!-- pageheader
        ================================================== -->
        <section class="s-pageheader s-pageheader--home">

            <header class="header">
            <div class="header__content row">
                <div class="header__logo">
                    <a class="logo" href="{{url_for('main.home')}}">

                        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        {% if current_user.is_authenticated %}
                            <li class="current"><a href="{{ url_for('posts.new_post')}}" title="">New Post</a></li>
                            <li><a href="{{ url_for('posts.upload_images')}}">Images</a></li>
                            <li><a href="{{ url_for('users.account')}}">Account</a></li>
                            <li><a href="{{ url_for('users.logout')}}">Logout</a></li>
                        {% else %}
                            <li class="current"><a href="{{ url_for('main.home')}}" >Home</a></li>
                            <li><a href="/#" title="">Contact</a></li>
                            <li><a href="{{ url_for('users.admin') }}">LoginAdmin</a></li>
                            <li><a href="/#" title="">Home</a></li>
                        {% endif %}
                    </ul> <!-- end header__nav -->
                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
                </nav> <!-- end header__nav-wrap -->
            </div> <!-- header-content -->
            </header> <!-- header -->

            {% block home%}
            {% endblock %}
        </section> <!-- end s-pageheader -->

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                  {{ message }}
              {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}


        <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </body>
</html>
