{% extends "layout.html" %}

{% block content %}

    <section class="s-content s-content--narrow s-content--no-padding-bottom">
      <article class="row format-standard">
        <div class="s-content__header col-full">
            {% if post.author == current_user %}

                <form action="{{ url_for('posts.update_post', post_id=post.id) }}" method="GET">
                                        <input class="btn btn-danger" type="submit" value="Update">
                </form>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>

            {% endif %}
        </div>

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                {{ post.title }}
            </h1>
            <ul class="s-content__header-meta">
                <li class="date">{{ post.date_posted.strftime('%Y-%m-%d') }}</li>
                <li class="cat">
                    By
                    <a href="#0">{{post.author.username}}</a>
                </li>
            </ul>
        </div> <!-- end s-content__header -->

        {{ post.content | safe }}

      </article>

    </section>

{% endblock content %}
